.statList {
  list-style: none;
  padding: 0;
}

.statName {
  margin-bottom: 8px;
  display: flex;
  max-width: 200px;
  background-color: #ff5500;
  color: white;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
}
